<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <link href="https://unpkg.com/primevue/resources/themes/saga-blue/theme.css " rel="stylesheet">
    <link href="https://unpkg.com/primevue/resources/primevue.min.css " rel="stylesheet">
    <link href="https://unpkg.com/primeicons/primeicons.css " rel="stylesheet">
    <!--Fonts-->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <script src="node_modules/primevue/components/datatable/datatable.umd.min.js"></script>
    <script src="node_modules/primevue/components/column/column.umd.min.js"></script>
    <script src="node_modules/primevue/components/button/button.umd.min.js"></script>
    <script src="node_modules/primevue/components/inputtext/inputtext.umd.min.js"></script>
    <script src="node_modules/primevue/components/dialog/dialog.umd.min.js"></script>
    <script src="node_modules/primevue/components/dropdown/dropdown.umd.min.js"></script>
    <script src="node_modules/primevue/components/textarea/textarea.umd.min.js"></script>
    <script src="node_modules/primevue/components/calendar/calendar.umd.min.js"></script>
    <script src="node_modules/primevue/components/fileupload/fileupload.umd.js"></script>

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="css/styles.css">

    <title>Categorias</title>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">Categorias</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"> <span
                class="las la-bars"></span></i></button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Inicio</div>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-comment"></i></div>
                            Menu
                        </a>

                        <a class="nav-link" href="familia.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-house-user"></i></div>
                            Familia
                        </a>
                        <a class="nav-link" href="promociones.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-shopping-bag"></i></div>
                            Promociones
                        </a>
                        <a class="nav-link" href="productos.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-shopping-bag"></i></div>
                          productos

                        </a>
                        <a class="nav-link" href="empresas.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                            Administracion de Empresas
                        </a>
                        <a class="nav-link" href="usuarios.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Usuarios
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">FER Y FANY:</div>
                    PROPUESTA
                </div>
            </nav>
        </div>
    </div>
    <div class="main-content" id="app">

        <main class="main">
            <div>
                <center>
                    <img src="/assets/img/0153_t_chocolate-cream-logo_1.png" />
                </center>
            </div>
            <div class="recent-grid grid-template-columns-100">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h1>Categorias</h1>
                            <div class="table-header div-flex">

                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <p-inputtext v-model="filters['global']" placeholder="Búsqueda Global"
                                        id="search" />
                                </span>

                                <form class="wgt-auto">
                                    <p-button :label="tablaDinamic == true ? 'Deshabilitadas' : 'En stock'"
                                        class="p-button-edit"
                                        :icon="tablaDinamic == true ? 'pi pi-external-link' : 'pi pi-inbox'"
                                        @click="tablaDinamic == true ? tablaDinamic = false : tablaDinamic = true">
                                    </p-button>
                                    <p-button label="Nueva Categoria" class="p-button-edit" icon="pi pi-plus"
                                        @click="openagregar()"></p-button>
                                </form>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="container-form">
                                <form>
                                    <div class="form-group">
                                        <span class="p-float-label">
                                            <p-dropdown v-model="txtslcCategorias" :options="arrayCategorias"
                                                option-label="nombre" placeholder="Selecciona una Categoria" />
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <span class="p-float-label">
                                            <p-inputtext id="txtclaveEmpresa" required type="text"
                                                v-model="txtclaveEmpresa"></p-inputtext>
                                            <label for="txtclaveEmpresa">Clave Empresa</label>
                                        </span>
                                        <span class="p-float-label">
                                            <p-inputtext id="txtNombre" required type="text" v-model="txtNombre">
                                            </p-inputtext>
                                            <label for="txtNombre">Nombre</label>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <span class="p-float-label">
                                            <p-inputtext id="txtdescripcion" required type="text"
                                                v-model="txtdescripcion"></p-inputtext>
                                            <label for="txtdescripcion">Descripcion</label>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <p-fileupload name="demo[]" url="localhost:8080" @upload="onUpload()"
                                            @error="errorUpload" :multiple="true" accept="image/*"
                                            :max-file-size="1000000">
                                            <template #empty>
                                                <p>Sube una imagen</p>
                                            </template>
                                        </p-fileupload>
                                    </div>

                                    <div class="form-group">
                                        <p-button label="Guardar Cambios" class=" p-button-edit" icon="pi pi-save">
                                        </p-button>
                                        <p-button label="Eliminar Empresa" class=" p-button-edit" icon="pi pi-trash">
                                        </p-button>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <!--  <div class="card-body">
                            <p-datatable removable-sort selection-mode="single" :scrollable="true" scroll-height="600px"
                            :resizable-columns="true" column-resize-mode="fit" :filters="filters"
                            :value="arrayCategorias">
                            <p-column field="claveEmpresa" header="Clave Empresa" :sortable="true"
                                    header-style="width: 7em">
                                    <template #body="slotProps">
                                        <span class="p-colum-title">Clave Empresa</span>
                                        {{slotProps.data.claveEmpresa}}
                                    </template>
                                </p-column>
                                <p-column field="id" header="ID" :sortable="true" header-style="width: 7em">
                                    <template #body="slotProps">
                                        <span class="p-colum-title">ID</span>
                                        {{slotProps.data.id}}
                                    </template>
                                </p-column>
                                <p-column field="nombre" header="Nombre" :sortable="true" header-style="width: 7em">
                                    <template #body="slotProps">
                                        <span class="p-colum-title">Nombre</span>
                                        {{slotProps.data.nombre}}
                                    </template>
                                </p-column>
                                <p-column field="descripcion" header="Descripcion"
                                header-style="width: 10em">
                                <template #body="slotProps">
                                    <span class="p-colum-title">Descripcion</span>
                                    {{slotProps.data.descripcion}}
                                </template>
                            </p-column>
                            <p-column field="imagen" header="Imagen" header-style="width: 7em">
                                <template #body="slotProps">
                                    <span class="p-colum-title">Imagen</span>
                                    <img  :src="'assets/img/' + slotProps.data.imagen" width="32" />
                                </template>
                            </p-column>
                            <p-column  header="Acciones" header-style="width: 5em">
                                <template #body="slotProps">
                                   
                                    <p-button icon="pi pi-clone" class="p-button-rounded p-button-secondary p-button-outlined p-button-edit"  @click="pdialogActualizar(slotProps.data)"></p-button>
    
                                </template>
                            </p-column>
                        </p-datatable>
                        </div>-->

                    </div>
                </div>
                <p-dialog header="Nueva Categoria" :visible.sync="displayAgregar" :modal="true">
                    <form>
                        <div class="form-group">
                            <span class="p-float-label">
                                <p-inputtext id="txtclaveEmpresa" type="text" v-model="txtclaveEmpresa"></p-inputtext>
                                <label for="txtclaveEmpresa">Clave Empresa</label>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="p-float-label">
                                <p-inputtext id="txtclaveEmpresa" type="text" v-model="txtclaveEmpresa"></p-inputtext>
                                <label for="txtclaveEmpresa">Nombre</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <span class="p-float-label">
                                <p-textarea id="txtdescripcion" v-model="txtdescripcion" :auto-resize="true" rows="3"
                                    cols="3"></p-textarea>
                                <label for="txtdescripcion">Descripcion</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <p-fileupload name="file" url="localhost:8080" @upload="onUpload()" @error="errorUpload"
                                :multiple="true" accept="image/*" :max-file-size="1000000" v-model="txtimagen">
                                <template #empty>
                                    <p>Sube una imagen</p>
                                </template>
                            </p-fileupload>
                        </div>
                        <div class="form-group">
                            <p-button label="Guardar" class=" p-button-edit" icon="pi pi-save"></p-button>
                        </div>

                    </form>

                </p-dialog>
                <p-dialog header="Actualizar información" :visible.sync="displayActualizar" :modal="true">
                    <form>
                        <div class="form-group">
                            <span class="p-float-label">
                                <p-inputtext id="txtclaveEmpresa" type="text" v-model="txtclaveEmpresaA"></p-inputtext>
                                <label for="txtclaveEmpresa">Clave Empresa</label>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="p-float-label">
                                <p-inputtext id="txtclaveEmpresa" type="text" v-model="txtclaveEmpresaA"></p-inputtext>
                                <label for="txtclaveEmpresa">Nombre</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <span class="p-float-label">
                                <p-textarea id="txtdescripcion" v-model="txtdescripcionA" :auto-resize="true" rows="3"
                                    cols="3"></p-textarea>
                                <label for="txtdescripcion">Descripcion</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <p-fileupload name="file" url="localhost:8080" @upload="onUpload()" @error="errorUpload"
                                :multiple="true" accept="image/*" :max-file-size="1000000" v-model="txtimagenA">
                                <template #empty>
                                    <p>Sube una imagen</p>
                                </template>
                            </p-fileupload>
                        </div>
                        <div class="form-group">
                            <p-button label="Guardar" class=" p-button-edit" icon="pi pi-save"></p-button>
                        </div>

                    </form>
                </p-dialog>
            </div>

            <div class="recent-grid grid-template-columns-100">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h1>Sub Categorias</h1>
                            <div class="table-header div-flex">

                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <p-inputtext v-model="filters['global']" placeholder="Búsqueda Global"
                                        id="search" />
                                </span>

                                <form class="wgt-auto">
                                    <p-button :label="tablaDinamic == true ? 'Deshabilitadas' : 'En stock'"
                                        class="p-button-edit"
                                        :icon="tablaDinamic == true ? 'pi pi-external-link' : 'pi pi-inbox'"
                                        @click="tablaDinamic == true ? tablaDinamic = false : tablaDinamic = true">
                                    </p-button>
                                    <p-button label="Nueva Sub-Categoria" class="p-button-edit" icon="pi pi-plus"
                                        @click="openagregarSUB()"></p-button>
                                </form>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="container-form">
                                <form>
                                    <div class="form-group">
                                        <span class="p-float-label">
                                            <p-dropdown v-model="txtslcSubCategoria" :options="arraySubCategorias"
                                                option-label="nombre" placeholder="Selecciona una Sub-Categoria" />
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <span class="p-float-label">
                                            <p-inputtext id="txtclaveEmpresa" required type="text"
                                                v-model="txtclaveEmpresa"></p-inputtext>
                                            <label for="txtclaveEmpresa">Clave Empresa</label>
                                        </span>
                                        <span class="p-float-label">
                                            <p-inputtext id="txtNombre" required type="text" v-model="txtNombre">
                                            </p-inputtext>
                                            <label for="txtNombre">Nombre</label>
                                        </span>


                                    </div>
                                    <div class="form-group">
                                        <span class="p-float-label">
                                            <p-inputtext id="txtdescripcion" required type="text"
                                                v-model="txtdescripcion"></p-inputtext>
                                            <label for="txtdescripcion">Descripcion</label>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <p-fileupload name="demo[]" url="localhost:8080" @upload="onUpload()"
                                            @error="errorUpload" :multiple="true" accept="image/*"
                                            :max-file-size="1000000">
                                            <template #empty>
                                                <p>Sube una imagen</p>
                                            </template>
                                        </p-fileupload>
                                    </div>

                                    <div class="form-group">
                                        <p-button label="Guardar Cambios" class=" p-button-edit" icon="pi pi-save">
                                        </p-button>
                                        <p-button label="Eliminar Empresa" class=" p-button-edit" icon="pi pi-trash">
                                        </p-button>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <!--   <div class="card-body">
                            <p-datatable removable-sort selection-mode="single" :scrollable="true" scroll-height="600px"
                            :resizable-columns="true" column-resize-mode="fit" :filters="filters"
                            :value="arraySubCategorias">
                            <p-column field="claveEmpresa" header="Clave Empresa" :sortable="true"
                                    header-style="width: 7em">
                                    <template #body="slotProps">
                                        <span class="p-colum-title">Clave Empresa</span>
                                        {{slotProps.data.claveEmpresa}}
                                    </template>
                                </p-column>
                                <p-column field="id" header="ID" :sortable="true" header-style="width: 7em">
                                    <template #body="slotProps">
                                        <span class="p-colum-title">ID</span>
                                        {{slotProps.data.id}}
                                    </template>
                                </p-column>
                                <p-column field="nombre" header="Nombre" :sortable="true" header-style="width: 7em">
                                    <template #body="slotProps">
                                        <span class="p-colum-title">Nombre</span>
                                        {{slotProps.data.nombre}}
                                    </template>
                                </p-column>
                                <p-column field="descripcion" header="Descripcion"
                                header-style="width: 10em">
                                <template #body="slotProps">
                                    <span class="p-colum-title">Descripcion</span>
                                    {{slotProps.data.descripcion}}
                                </template>
                            </p-column>
                            <p-column field="imagen" header="Imagen" header-style="width: 7em">
                                <template #body="slotProps">
                                    <span class="p-colum-title">Imagen</span>
                                    <img  :src="'assets/img/' + slotProps.data.imagen" width="32" />
                                </template>
                            </p-column>
                            <p-column  header="Retirar" header-style="width: 5em">
                                <template #body="slotProps">
                                   
                                    <p-button icon="pi pi-clone" class="p-button-rounded p-button-secondary p-button-outlined p-button-edit"  @click="pdialogActualizarINFO(slotProps.data)"></p-button>
    
                                </template>
                            </p-column>
                        </p-datatable>
                        </div>-->

                    </div>
                </div>
                <p-dialog header="Nueva Sub-Categoria" :visible.sync="displayAgregarSUB" :modal="true">
                    <form>
                        <div class="form-group">
                            <span class="p-float-label">
                                <p-inputtext id="txtclaveEmpresa" type="text" v-model="txtclaveEmpresaSUB">
                                </p-inputtext>
                                <label for="txtclaveEmpresa">Clave Empresa</label>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="p-float-label">
                                <p-inputtext id="txtclaveEmpresa" type="text" v-model="txtclaveEmpresaSUB">
                                </p-inputtext>
                                <label for="txtclaveEmpresa">Nombre</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <span class="p-float-label">
                                <p-textarea id="txtdescripcion" v-model="txtdescripcionSUB" :auto-resize="true" rows="3"
                                    cols="3"></p-textarea>
                                <label for="txtdescripcion">Descripcion</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <p-fileupload name="file" url="localhost:8080" @upload="onUpload()" @error="errorUpload"
                                :multiple="true" accept="image/*" :max-file-size="1000000" v-model="txtimagenSUB">
                                <template #empty>
                                    <p>Sube una imagen</p>
                                </template>
                            </p-fileupload>
                        </div>
                        <div class="form-group">
                            <p-button label="Guardar" class=" p-button-edit" icon="pi pi-save"></p-button>
                        </div>

                    </form>

                </p-dialog>
                <p-dialog header="Actualizar información" :visible.sync="displayActualizarSUB" :modal="true">
                    <form>
                        <div class="form-group">
                            <span class="p-float-label">
                                <p-inputtext id="txtclaveEmpresa" type="text" v-model="txtclaveEmpresaSUBA">
                                </p-inputtext>
                                <label for="txtclaveEmpresa">Clave Empresa</label>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="p-float-label">
                                <p-inputtext id="txtclaveEmpresa" type="text" v-model="txtnombreSUBA"></p-inputtext>
                                <label for="txtclaveEmpresa">Nombre</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <span class="p-float-label">
                                <p-textarea id="txtdescripcion" v-model="txtdescripcionSUBA" :auto-resize="true"
                                    rows="3" cols="3"></p-textarea>
                                <label for="txtdescripcion">Descripcion</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <p-fileupload name="file" url="localhost:8080" @upload="onUpload()" @error="errorUpload"
                                :multiple="true" accept="image/*" :max-file-size="1000000" v-model="txtimagenSUBA">
                                <template #empty>
                                    <p>Sube una imagen</p>
                                </template>
                            </p-fileupload>
                        </div>
                        <div class="form-group">
                            <p-button label="Guardar" class=" p-button-edit" icon="pi pi-save"></p-button>
                        </div>

                    </form>
                </p-dialog>
            </div>
        </main>
    </div>
    <script src="assets/js/main.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script>
        var vm = new Vue({
            components: {
                'p-datatable': datatable,
                'p-column': column,
                'p-inputtext': inputtext,
                'p-textarea': textarea,
                'p-dropdown': dropdown,
                'p-button': button,
                'p-dialog': dialog,
                'p-calendar': calendar,
                'p-fileupload': fileupload,
            },
            data() {
                return {
                    rutaAPI: "http://localhost:/",
                    selectedProducts: null,
                    slcfilter: null,
                    filters: {},
                    tablaDinamic: true,
                    displayAgregar: false,
                    displayActualizar: false,
                    displayAgregarSUB: false,
                    displayActualizarSUB: false,
                    txtclaveEmpresa: null,
                    txtdescripcion: null,
                    idCategoria: 0,
                    txtnombre: null,
                    txtimagen: null,

                    txtclaveEmpresaA: null,
                    txtdescripcionA: null,
                    idCategoriaA: 0,
                    txtnombreA: null,
                    txtimagenA: null,

                    txtclaveEmpresaSUB: null,
                    txtdescripcionSUB: null,
                    idSubcategoria: 0,
                    txtnombreSUB: null,
                    txtimagenSUB: null,

                    txtclaveEmpresaSUBA: null,
                    txtdescripcionSUBA: null,
                    idSubcategoriaSUBA: 0,
                    txtnombreSUBA: null,
                    txtimagenSUBA: null,

                    arrayCategorias: [
                        {
                            id: 1,
                            claveEmpresa: "1235",
                            descripcion: "Productos de limpieza y jarceria hasta la puerta de su hogar",
                            nombre: "Limpieza",
                            imagen: "limpieza-categ.jpg",


                        }

                    ],

                    arraySubCategorias: [
                        {
                            id: 1,
                            claveEmpresa: "1235",
                            descripcion: "Productos de limpieza para todo tipo de pisos",
                            nombre: "Pisos",
                            imagen: "limpieza-categ.jpg",


                        }

                    ],

                }
            },
            mounted() {


            },
            methods: {
                openagregar() {
                    this.displayAgregar = true;
                },
                openActualizar() {
                    this.displayActualizar = true;
                },
                openagregarSUB() {
                    this.displayAgregarSUB = true;
                },
                openActualizarSub() {
                    this.displayActualizarSUB = true;
                },
                errorUpload() {
                    window.alert("ha ocurrido un error");
                },
                onUpload() {

                    window.alert("Imagen subida con exito.");
                    // this.inventarioLaptops();
                },
                pdialogActualizar(field) {
                    this.openActualizar();
                    this.idCategoriaA = field.id,
                        this.txtclaveEmpresaA = field.claveEmpresa,
                        this.txtdescripcionA = field.descripcion,
                        this.txtnombreA = field.nombre,
                        this.txtimagenA = field.imagen

                },
                pdialogActualizarINFO(field) {
                    this.openActualizarSub();
                    this.idSubcategoriaSUBA = field.id,
                        this.txtclaveEmpresaSUBA = field.claveEmpresa,
                        this.txtdescripcionSUBA = field.descripcion,
                        this.txtnombreSUBA = field.nombre,
                        this.txtimagenSUBA = field.imagen

                },

            },
        }).$mount('#app');
    </script>
</body>

</html>