//colores
$white-color: #ffffff;
$main-color: #225de4;
$blue-active-menu: #edf3ff;
$dark-color: #1D2231;
$white-light: #eae9e9;
$text-grey: #555555;
$text-grey-light: #777777;
$gray-color: #dddd;
$light-gray: #eae9e9;
$prime-gray:#ced4da;
$gray-table:#49505740;
$green-success:#28b351;
$orange-process:#FFA500;
$yellow-button:#ccac1e;
$gray-disbabled:#C0C0C0;
$red-canceled:#FF0000;
$red-color:#b71c1c;
$gradated: rgba(22,163,74,1);
$alpha:0.2;
$body: #eff1f5;
$thead: #eef0f5;
//fuentes
$titulo: 'Raleway', sans-serif;
$standar: 'Open Sans', sans-serif;
$noto-sans: 'Noto Sans', sans-serif;